body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

nav {
  background-color: #222;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.hov:hover{
    color: crimson;
}
nav a {
  color: #fff;
  text-decoration: none;
}

header {
  padding: 40px 20px;
  text-align: center;
  background-color: #f4f4f4;
}
.hero__sec{
    height: 600px;
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    justify-content: center;

}
.her0{
    height: 100%;
    width: 100%;
}
.text-calc{
    color: red;
    text-align: center;
}
.calc{
    height: fit-content;
    display: flex;
    justify-content: center;
}
.container {
  height: 400px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.screen {
  height: 100px;
  /* width: 100%; */
  border: 1px solid black;
  color: black;
  text-align: end;
  font-size: xx-large;   
}
.btn_container{
    margin-top: 1px;
    max-width: 100%;
}
.buttoonn{
    height: 50px;
    width: 63.7px;
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #222;
  color: #fff;
}